body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

.fancy-heading {
    color: #ffa500;
}

.flex-container {
    display: flex;
    margin-bottom: 50px;
}

.section-title {
    margin-left: 5%;
}

.half-width {
    width: 50%;
    padding:0 5%;
}

.half-width img {
    width: 100%;
}

.experience {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px #808080;
}

#learning {
    border-left: 10px solid #ff0000;
}

#developer {
    border-left: 10px solid #5861DD;
}

.button {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background-color: #ffa500;
    background-image: linear-gradient(#ffa500, #ff6347);
    padding: 10px 40px;
    border-radius: 5px;
}

.btn {
    margin-top: 50px;
    display: block;
}

.first-section {
    padding: 100px 0 50px;
    background-image: url(/images/first-section-bg.png);
    background-repeat: no-repeat;
}

.second-section {
    padding-top: 50px;
    background-image: url(/images/second-section-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.third-section {
    padding-top: 50px;
    background-image: url(/images/third-section-bg.png);
    background-position: center left;
    background-repeat: no-repeat;
}

footer {
    text-align: center;
    padding-top: 50px;
}